* {
    /* border: 2px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.head {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
    /* background-color:brown; */
    /* color: white; */
}

.calculator {
    /* width: 200px; */
    margin-top : 40px;
    background-color: rgb(56, 53, 53);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(56, 53, 53), -2px -2px 4px  rgb(56, 53, 53);
}

.display {
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
    border: 2px solid rgb(243, 156, 34);
    color: white;
    border-radius: 4px;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
}

.buttons {
    padding: 4px 8px;
    border-radius: 4px;
}

.buttons > div {
    display: flex;
}

.buttons button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: rgba(241, 162, 92, 0.863);
    padding: 8px 16px;
    font-size: 32px;
    margin: 2px;
    border-radius: 100% 100%;
    border:rgb(76, 106, 225);
    transition: all 0.1s;
}

button.operator {
    background-color: rgb(60, 164, 255);
}

div#row4 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#row4 > button {
    flex: none;
    border-radius: 4px;
    padding: 4px 32px;
}